

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#childSelector li > p{
    color: red;

} 
#childSelector ul p{               
    color: greenyellow;
}

.testing p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
    color: red;
    letter-spacing: 5pxs;
   
    text-decoration: line-through;
   


}

/* h1 + h2{
    color: red;
} */


*{
    color: aqua;
}

h1, h2 {
    color: blueviolet;
}