#subjects{
    height: 520px;
    width: auto;
    background-color: rgb(247, 233, 215);
}

#subjects p{
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    font-weight: bold;
}
.sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 5px;
    margin-top: 20px;
}

.sub a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.sub a:hover{
    background-color: rgb(95, 132, 255);
}

.block {
    width: 355px;
    height: 100px;
    text-align: center;
    line-height: 100px; 
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
}

/* Assign different background colors to each block */
.block:nth-child(1) {
    background-color: #3498db; /* Blue */
}

.block:nth-child(2) {
    background-color: #e74c3c; /* Red */
}

.block:nth-child(1) {
    background-color: #2ecc71; /* Green */
}

.block:nth-child(2) {
    background-color: #f39c12; /* Orange */
}
