
html{
    font-size: 62.5%;
}
#subjects{
    height: 52rem;
    width: auto;
    background-color: rgb(247, 233, 215);
}

#subjects p{
    text-align: center;
    font-size: 3rem;
    padding-top: 1.5rem;
    font-weight: bold;
}
.sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
}

.sub a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.sub a:hover{
    background-color: rgb(95, 132, 255);
}

.block {
    width: 35rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem; 
    font-size: 1.8rem;
    color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20rem;
    margin-right: 20rem;
}

/* Assign different background colors to each block */
.block:nth-child(1) {
    background-color: #3498db; /* Blue */
}

.block:nth-child(2) {
    background-color: #e74c3c; /* Red */
}

.block:nth-child(1) {
    background-color: #2ecc71; /* Green */
}

.block:nth-child(2) {
    background-color: #f39c12; /* Orange */
}


@media (max-width:998px) {
    html{
        font-size: 45%;
    }
    
}

@media (max-width:768px) {
    html{
        font-size: 25%;
    }
    
}