
html{
    font-size: 62.5%;
}
body {
    
    height: 100vh; /* Set body height to 100% of the viewport height */
}
    #intro{
        height: 21rem;
        width: auto;
        background-color: whitesmoke;
        
    }

    #intro h3{
        margin-left: 10rem;
        padding-top: 3rem;
        color: black;
    }
    
    #intro p{
        margin-top: 0rem;
        margin-left: 10rem;
        font-size: 4rem;
        padding-top: 0;
        font-weight: bold;
    }

    #note{
        height: 1rem;
        width: auto;
        background-color: aliceblue;

    }

    #note p{
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-top: 0rem;
            padding-top: 2rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .row a{
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
    }

    .row a:hover{
        /* background-color: rgb(253, 226, 195); */
        font-size: 3rem;
        color: red;
    }

    .block {
        width: 35rem;
        height: 10rem;
        text-align: center;
        line-height: 10rem;
        font-size: 2rem;
        color: black;
        border-radius: 0.1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }

    /* Assign different background colors to each block */
    .block:nth-child(1) {
        background-color: whitesmoke; /* Blue */
    }

    .block:nth-child(2) {
        background-color: whitesmoke; /* Red */
    }

    .block:nth-child(3) {
        background-color: whitesmoke; /* Green */
    }

    .block:nth-child(4) {
        background-color: whitesmoke; /* Orange */
    }



    #why{
        height: 20rem;
        width: auto;
        background-color: whitesmoke ;
        margin-top:35rem;
    }

    #why h2{
        margin-left:9rem ;
        padding-top: 2rem;
        font-size: 3rem;
        
    }

    #why p{
        margin-left: 9rem;
        font-size: 2rem;
        margin-top: 2rem;
        padding-top: 0rem;
    }

    #why button{
        height: 4rem;
        width: 13rem;
        background-color: whitesmoke;
        margin-left: 9rem;
    }
    
    #why button a{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }

    #why button a:hover{
        color: red;
        font-size:  2rem;
       
    }

    

    #footer{
        background-color: whitesmoke;
        height: 6rem;
       
       
       
    }
    #footer p{
       
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        padding-top: 2rem;
       
    }

    @media (max-width:998px) {
        html{
            font-size: 55%;
        }
        
    }

    @media (max-width:768px) {
        html{
            font-size: 45%;
        }
        
    }